In [42]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
import time
import pandas as pd
from bs4 import BeautifulSoup

In [56]:
website = 'https://www.cars24.com/buy-used-cars-bangalore/'

driver = webdriver.Chrome(service="")
driver.get(website) 
time.sleep(5)

previous_height = driver.execute_script('return document.body.scrollHeight')
time.sleep(5)
while True:
    driver.execute_script('window.scrollTo(0,document.body.scrollHeight)')
    time.sleep(10)
    new_height = driver.execute_script('return document.body.scrollHeight')
    if new_height == previous_height:
        break
    previous_height = new_height
    time.sleep(10)
file = open('cars24_banglore.html', 'w', encoding='utf-8')
file.write(driver.page_source)
file.close()
driver.close()

In [57]:
data = open('cars24_banglore.html','r')

soup=BeautifulSoup(data,"lxml")

In [58]:
divs=soup.find_all("div","_2z-Yu")

cars_name = [div.find('div',{'class':'_1mlAq'}).find('h2',{'class':'_2lmIw'}).text[5:] for div in divs ]
len(cars_name)

1174

In [59]:
cars_brand = [div.find('div',{'class':'_1mlAq'}).find('h2',{'class':'_2lmIw'}).text[5:].split(' ')[0] for div in divs ] 

model_year = [div.find('div',{'class':'_1mlAq'}).text[:4] for div in divs ] 

model = [div.find('ul',{'class':'_1hOnS'}).text.strip("Automatic").strip("Manual") for div in divs ]

car_type = [div.find('ul',{'class':'_1hOnS'}).text for div in divs ]
car_type=["Manual" if "Manual" in i else "Automatic" for i in car_type ]

kms = [div.find('ul',{'class':'_13yb6'}).text.split(' ')[0] for div in divs ]

owner = [div.find('ul',{'class':'_13yb6'}).text.split(' ')[1][2:] for div in divs ]

gasoliene_type = [div.find('ul',{'class':'_13yb6'}).text.split(' ')[2][5:] for div in divs ]

emi_per_month = [div.find('div',{'class':'WNwWR'}).text.split("h")[0]+"h" for div in divs ]

price = [div.find('div',{'class':'_18ToE'}).find('span').text for div in divs ]

zero_downpayment = [div.find('div',{'class':'WNwWR'}).find('span').text for div in divs ]

In [60]:
d={'cars_name':cars_name,
   'cars_brand':cars_brand,
   'model':model,
   'model_year':model_year,
   'car_type':car_type,
   'kms':kms,
   'owner':owner,
   'gasoliene_type':gasoliene_type,
   'emi_per_month':emi_per_month,
   'price':price,
   'zero_downpayment':zero_downpayment
}

df_banglore=pd.DataFrame(d)

In [61]:
df_banglore

,cars_name,cars_brand,model,model_year,car_type,kms,owner,gasoliene_type,emi_per_month,price,zero_downpayment
0,Nissan Terrano,Nissan,XL (P),2015,Manual,"86,374",1st,PetrolKA-51,"₹9,853/month","₹5,04,000",Zero Down Payment
1,Honda Civic,Honda,1.8L I-VTEC VX CVT,2019,Automatic,"20,179",1st,PetrolKA-05,"₹30,245/month","₹15,89,000","₹31,065/month"
2,Hyundai i20 Active,Hyundai,1.4 S,2015,Manual,"99,330",1st,DieselKA-01,"₹12,141/month","₹6,21,000",Zero Down Payment
3,Hyundai EON,Hyundai,ERA PLUS,2012,Manual,"31,496",1st,PetrolKA-19,"₹5,396/month","₹2,76,000",Zero Down Payment
4,Renault KWID,Renault,RXL 1.0 AMT,2021,Automatic,"8,304",1st,PetrolKA-05,"₹10,811/month","₹5,53,000",Zero Down Payment
...,...,...,...,...,...,...,...,...,...,...,...
1169,Renault Pulse,Renault,RXZ DIESEL,2013,Manual,"73,835",2nd,DieselKA-53,"₹6,745/month","₹3,45,000",Zero Down Payment
1170,Nissan Terrano,Nissan,XV PREMIUM 110 PS DEISEL,2014,Manual,"53,034",2nd,DieselKA-01,"₹11,671/month","₹5,97,000",Zero Down Payment
1171,Maruti Swift,Maruti,LXI,2012,Manual,"70,423",1st,PetrolKA-01,"₹7,722/month","₹3,95,000",Zero Down Payment
1172,Hyundai Verna,Hyundai,SX (O)1.5 VTVT,2020,Manual,"8,568",1st,PetrolKA-01,"₹24,287/month","₹12,76,000","₹24,946/month"
1173,KIA SONET,KIA,HTK PLUS 1.2,2022,Manual,586,1st,PetrolKA-05,"₹19,091/month","₹10,03,000","₹19,609/month"

In [62]:
df_banglore.to_csv("cars24_banglore.csv")